aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.2.0
frozenlist==1.4.0
html5tagger==1.3.0
httptools==0.6.0
idna==3.4
multidict==6.0.4
requests==2.31.0
sanic==23.3.0
sanic-routing==22.8.0
tracerite==1.1.0
ujson==5.8.0
urllib3==2.0.4
uvloop==0.17.0
websockets==11.0.3
yarl==1.9.2
